html 
{
	padding: 0px;
	background-color: white;
}
body
{
	margin: 0px;
	font-family: Verdana,Geneva,sans-serif;
}
.navbar1
{
	padding-right: 270px;
	padding-left: 270px;
	border-bottom-color: #CCC;
	padding-top: 15px;
	padding-bottom: 7px;
	display: flex;
	border-bottom: 1px solid #CCC;
}
.intro
{
	text-align: center;
	margin: 0px 200px 0px 200px;
}
.back
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/background-01.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    color: #FFF;
    height: 100%;
    background-color: rgba(0,0,0,.55);
}
header
{
	line-height: normal;
	font-weight: normal;
	display: flex;
}
h1,h2,h3,h4,h5,h6
{
	font-family: Georgia,"Times New Roman",Times,serif;
}
h1
{
	font-size: 22px;
	line-height: normal;
	font-weight: normal;
}
h3
{
	font-size: 2.1rem;
	line-height: normal;
	font-weight: normal;
}
button
{
	border-radius: 22px;
	border: 1px solid;
	font-size: 14px;
	line-height: 1.6em;
	font-family: Verdana,Geneva,sans-serif;
}
.para
{
	margin: 0px 280px 30px 280px;
	display: block;
	font-size: 14px;
	line-height: 1.6em;
	font-family: Verdana,Geneva,sans-serif;
}
h3
{
	margin-bottom: 20px;
	margin-top: 0px;
}
.container
{
	padding-top: 200px;
	padding-bottom: 200px;
}
.para1
{
	margin-top: 16.8px;
	margin-bottom: 16.8px;
	font-size: 17px;
	font-weight: bold;
	font-family: Verdana,Geneva,sans-serif;
}
.button-group
{
	margin-top: 80px;
}
.button1
{
    color: white;
	background-color: transparent;	
	padding: 8px 18px 10px;
	border-color: white;
}
.button2
{
	color: white;
	background-color: #6AAEBF;
	padding: 8px 18px 10px;
    border-color: #6AAEBF;
}
.button1:hover
{
	color: white;
	background-color: #6AAEBF;
    border-color: #6AAEBF;
    transition: all .3s ease-in-out;
}
.button2:hover
{
	color: white;
	background-color: transparent;	
	border-color: white;
	transition: all .3s ease-in-out;
}
.container2
{
	margin: 0 270px;
	padding-top: 85px;
	padding-bottom: 85px;
	color: #474747;
}
.para2
{
	font-size: 22px;
    line-height: normal;
    font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
    margin-bottom: 0px;
    margin-top: 0;
}
.para3
{
	margin-top: 0;
	font-size: 14px;
	line-height: 1.6em;
	margin-bottom: 0;
}
.articles
{
	display: flex;
}
.intro2
{
	margin-bottom: 80px;
}
h6
{
	margin-top: 0;
	margin-bottom: 0;
	line-height: normal;
	font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
}
.cen
{
	text-align: center;
}
.container3
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/background-02.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.art
{
    color: #FFF;
    background-color: rgba(49,101,115,.75);
    margin-left: 760px;
    padding: 90px 260px 90px 50px;
}
.para4
{
	font-size: 0.6rem;
	line-height: 1.6em;
	font-family: Verdana,Geneva,sans-serif;
	margin: 0;
}
.circle
{
	border-radius: 50%;
}
.art2
{
	display: flex;
	margin-right: 270px;
	margin-left: 270px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.back2
{
	color: inherit; 
	background-color: #F2F2F2;
	padding: 15px 30px 15px 30px;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	color: #474747;
	line-height: 1.6em;
	margin-bottom: 0px;
}
.circle2
{
	text-align: center;
	font-family: font-family: Verdana,Geneva,sans-serif;
	line-height: 1;
	font-size: 14px;
	color: #474747;
}
.container4
{
	padding-right: 270px;
	padding-left: 270px;
	padding-top: 38px;
	padding-bottom: 38px;
	color: white;
	justify-content: space-between;
	display: flex;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 22px;
}
.back1
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/background-03.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #FFF;
    display: flex;
}
.blur1
{
	color: inherit;
    background-color: rgba(0,0,0,.55);
}
.blur2
{
	background-color: rgba(49,101,115,.55);
	width: 100%;
}
.icon
{
	background-color: #6AAEBF;
	color: white;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	border-color: #6AAEBF;
	margin-bottom: 30px;
	text-align: center;
    line-height: 2.4 !important;
    font-size: 25px !important;
    margin-left: 80px;
}
.art3
{
	display: flex;
}
.pics
{
	margin-right: 30px;
}
a
{
	text-decoration: none;
}
.para5
{
	font-size: 0.7rem;
	color: #6AAEBF;
}
.back3
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/background-04.jpg");
	background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #FFF;
}
.icon2
{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
    line-height: 2 !important;
    font-size: 25px !important;
    color: inherit;
    background-color: rgba(49,101,115,.75);
}
.container5
{
	color: #CBCBCB;
    background-color: #252525;
    margin-bottom: 0;
    padding: 80px 270px 90px;
}
.foot
{
	
    margin: 0 270px;
    padding-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.quote
{
	color: #FFF;
    background-color: #D7D7D7;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px !important;
    line-height: 2 !important;
}
.blur3
{
	color: inherit;
    background-color: rgba(0,0,0,.55);
}
.sides
{
	margin: 0 300px 0 270px;
	justify-content: space-between;
	padding: 30px 0;
}
.fontface
{
	font-size: 14px;
	font-family: Verdana,Geneva,sans-serif;
	line-height: 1.6em;
	margin:0;
}
.weight
{
	font-weight: 700;
}
.list
{
	list-style: none;
	padding: 0;
}
.icon3
{
	color: #6AAEBF;
	font-size: 20px !important; 
}
.list2
{
	margin: 15px 0;
}
.span2
{
	font-size: 14px;
	line-height: 1.6em;
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: none;
}
.gap
{
	margin-left: 30px;
}
.gap1
{
	width: 222px;
	display: inline-block;
}
.span3
{
	margin-right: 15px;
	display: inline-block !important;
}
.icon4
{
	color: #6AAEBF;
	font-size: 18px !important;
}
.fonts
{
	margin-top: 0;
	margin-bottom: 0;
	line-height: normal;
	font-weight: normal;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 17px;
    color: #FFF;
    margin-bottom: 50px;
}
.span4
{
	font-size: 20px !important;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8 !important;
}
.span5
{
	display: inline-block;
	margin: 8px 5px 0 0;
}
.one, .two,.three,.four,.five,.six
{
	color: inherit;
    background-color: #141414;
}
.one:hover
{
	background-color: #3B5998;
}
.two:hover
{
	background-color: #00ACEE;
}
.three:hover
{
	background-color: #EA4C89;
}
.four:hover
{
	background-color: #0E76A8;
}
.five:hover
{
	background-color: #DB4A39;
}
.six:hover
{
	background-color: #4E658E;
}
.font1
{
	color: #6AAEBF;
}
hr
{
	color: #CCC;
}
.bord
{
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,.2);
	padding-bottom: 10px;
}
.bord2
{
	padding-top: 10px;
}
footer
{
	color: #CBCBCB;
    background-color: #141414;
    margin-top: 0;
    padding-bottom: 200px;
}
.backtop
{
	visibility: visible;
	opacity: 0.5;
	color: white;
	background-color: #6AAEBF;
	z-index: 999;
	display: inline-block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 32px !important;
	font-size: 16px !important;
	font-family: Verdana,Geneva,sans-serif;
	text-align: center;
	border-radius: 50%;
	background-clip: padding-box;
	outline: none;
}
.backtop:hover
{
	opacity: 1;
}
.button3
{
	height: 40px;
	margin-top: 15px;
}
.navbar {
    overflow: hidden;
    font-family: Verdana,Geneva,sans-serif;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 14px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #6AAEBF;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: #FFF;
    background-color: rgba(0,0,0,.6);
    border-color: rgba(0,0,0,.6);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #FFF;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #6AAEBF;
    color: #FFF;
    transition: all .3s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.pic1
{
	width: 300px; 
	height: 210px; 
	margin-bottom: 22px;
}
.on
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/01.jpg");
}
.tw
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/02.jpg");
}
.th
{
	background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page231/pcomspace/assets/images/live-demo/03.jpg");
}
figcaption
{
	position: relative;
	top: 149px;
	left: 10px;
	display: block;
	width: 50px;
	margin: 0;
}
.str
{
	background-color: #6AAEBF;
	color: white;
	font-size: 18px;
	padding: 13px;
	margin-right: 0;
	line-height: 1;
}
.e
{
	background-color: #316573;
	color: #FFF;
	padding: 5px 12px;
	font-size: 14px;
	margin-left: 0;
	line-height: 1;
}